.card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 0 20px;
  margin: 20px 0;
  box-sizing: border-box;
  gap: 30px;
}